@use "../abstractions" as *;

.btn {

    &,
    &:link,
    &:visited {
        padding: .8rem 1.2rem;
        font-size: 1.6rem;
        font-family: $font-body;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1.2rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

    &--dark {
        background-color: $color-card;
        border-radius: $rd-sm;
        border: 1px solid $color-outline;
        color: $color-text;
    }

    &--light {
        background-color: $color-primary;
        border-radius: $rd-sm;
        border: 1px solid $color-outline;
        color: $color-card;
    }
}