@use "../abstractions" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem : 10px/16px

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 32.5%;
    }
}

*::selection {
    background-color: $color-primary;
    color: $color-background;
}

body {
    background-color: $color-background;
    font-family: $font-display;
    line-height: 1.6;
    font-size: 1rem;
}