@use "../abstractions" as *;

.heading-1 {
    font-size: 3.8rem;
    font-family: $font-display;
    color: $color-primary;
    font-weight: 900;
}

.heading-3 {
    font-size: 2.4rem;
    font-family: $font-display;
    color: $color-primary;
    font-weight: 700;
}

.heading-5 {
    font-size: 1.6rem;
    color: $color-text;
    font-weight: 600;
}

.paragraph {
    font-size: 1.2rem;
    color: $color-text-grey;
}